.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #f6f6f6;
    padding-left: 5%;
    padding-right: 5%;
}